@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-popup {
  font-size: 1rem !important;
  font-family: "montserrat", serif;
  font-weight: 100 !important;
}

html {
  scroll-behavior: smooth;
}
